<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Insurance APP</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/customeslist">Customers <span class="sr-only"></span></a>
        </li>

          <li class="nav-item ">
              <a class="nav-link" href="/insurancelist">Insurances <span class="sr-only"></span></a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="/customerinsurancelist">Customers Insurances <span class="sr-only"></span></a>
            </li>
      </ul>
    </div>
  </nav>