<div>
  <h1>Customers</h1>                    
      
</div>
<div class="table">
  <div class="row table-header">
                 
        <div class="col-md-2">
        <h4>CustomerID</h4>
        </div>
        <div class="col-md-2">
        <h4>FullName</h4>
        </div>
        <div class="col-md-1">
        <h4>Address</h4>
        </div>
        <div class="col-md-1">
        <h4>Phone</h4>
        </div>
        <div class="col-md-2">
        <h4>Identification</h4>
        </div>      
        <div class="col-md-1">
        <h4>Edit</h4>
        </div>
        <div class="col-md-1">
        <h4>Delete</h4>
        </div>
        <div class="col-md-1">
        <h4>Add Insurance</h4>
        </div>
      
  </div>
 
  
  <div  *ngFor="let Customer of Customers"  >
        <div class="row"  >
              <div class="col-md-2">
                {{Customer.CustomerID}}
              </div>
              <div class="col-md-2">
                {{Customer.FullName}}
              </div>
              <div class="col-md-1">
                {{Customer.Address}}
              </div>
              <div class="col-md-1">
                {{Customer.Phone}}
              </div>
              <div class="col-md-2">
                {{Customer.Identification}}
              </div>              
              <div class="col-md-1">
                  <a href="/customeredit/{{Customer.CustomerID}}" >Edit</a>
              </div>
              <div class="col-md-1">
                  <a href="/customerdelete/{{Customer.CustomerID}}" >Delete</a>
              </div>    
              <div class="col-md-1">
                  <a href="/customerdelete/{{Customer.CustomerID}}" >Add</a>
              </div>    
        </div>

        <div>
            <hr />
            <div>
                  <div class="row">
                          <div class="col-md-2">
                            
                          </div> 
                            <div class="col-md-2">
                              <h5> Insurance Name</h5>
                              </div>  
                            <div class="col-md-1">
                              <h5>Init Date</h5>
                            </div>
                            <div class="col-md-1">
                              <h5> Price</h5>
                            </div>
                            <div class="col-md-2">
                              <h5> Duration (Months) </h5>
                            </div>
                            <div class="col-md-2">
                              <h5> RiskType</h5>
                            </div>
                        
                            <div class="col-md-1">
                            <h5> Edit</h5>
                            </div>
                            <div class="col-md-1">
                              <h5> Quit Insurance</h5>
                            </div>
                  </div>
            </div> 

            <div *ngFor="let Insurance of Customer.CustomerInsurances">
                  <div class="row">
                          <div class="col-md-2">
                            
                          </div> 
                            <div class="col-md-2">
                              {{Insurance.InsuranceCode}}
                              </div>  
                            <div class="col-md-1">
                              {{Insurance.InitDate}}
                            </div>
                            <div class="col-md-1">
                              {{Insurance.Price}}
                            </div>
                            <div class="col-md-2">
                              {{Insurance.MonthsDuration}}
                            </div>
                            <div class="col-md-2">
                              {{Insurance.RiskType}}
                            </div>
                        
                            <div class="col-md-1">
                            <h5> Edit</h5>
                            </div>
                            <div class="col-md-1">
                            <h5> Quit Insurance</h5>
                            </div>
                  </div>
            </div>

        </div>

  </div>
  
     

</div>
  

  <h2><a href="/customeredit">New Customer</a></h2>