<div class="form-header">
  <h1>Customers</h1>                    
      
      <h5><a href="/customeredit">Add New Customer</a></h5>
      <h5><a href="/customerinsuranceedit">Add New Insurance To Customer</a></h5>
</div>

<div class="table">
  <div class="row table-header">
                 
        <div class="col-md-2">
        <h4>CustomerID</h4>
        </div>
        <div class="col-md-2">
        <h4>FullName</h4>
        </div>
        <div class="col-md-2">
        <h4>Address</h4>
        </div>
        <div class="col-md-2">
        <h4>Phone</h4>
        </div>
        <div class="col-md-2">
        <h4>Identification</h4>
        </div>      
        <div class="col-md-1">
        <h4>Edit</h4>
        </div>
        <div class="col-md-1">
        <h4>Delete</h4>
        </div>
      
  </div>
 
  
  <div  *ngFor="let Customer of Customers" class="row-customer" >
        <div class="row"  >
              <div class="col-md-2">
                {{Customer.CustomerID}}
              </div>
              <div class="col-md-2">
                {{Customer.FullName}}
              </div>
              <div class="col-md-2">
                {{Customer.Address}}
              </div>
              <div class="col-md-2">
                {{Customer.Phone}}
              </div>
              <div class="col-md-2">
                {{Customer.Identification}}
              </div>              
              <div class="col-md-1">
                  <a href="/customeredit/{{Customer.CustomerID}}" >Edit</a>
              </div>
              <div class="col-md-1">
                  <a href="/customerdelete/{{Customer.CustomerID}}" >Delete</a>
              </div>     
        </div>

        <div class="asociated-insurances">            
            <h5>Associated Insurances</h5>
            <div>
                  <div class="row">
                          <div class="col-md-2">
                            
                          </div> 
                            <div class="col-md-2">
                              <h6> Insurance Name</h6>
                              </div>  
                            <div class="col-md-1">
                              <h6>Init Date</h6>
                            </div>
                            <div class="col-md-1">
                              <h6> Price</h6>
                            </div>
                            <div class="col-md-2">
                              <h6> Duration (Months) </h6>
                            </div>
                            <div class="col-md-2">
                              <h6> RiskType</h6>
                            </div>
                        
                            <div class="col-md-1">
                            <h6> Edit</h6>
                            </div>
                            <div class="col-md-1">
                              <h6> Delete </h6>
                            </div>
                  </div>
            </div> 

            <div *ngFor="let Insurance of Customer.CustomerInsurances">
                  <div class="row">
                          <div class="col-md-2">
                            
                          </div> 
                            <div class="col-md-2">
                              {{Insurance.InsuranceCode}}
                              </div>  
                            <div class="col-md-1">
                              {{Insurance.InitDate | date}}
                            </div>
                            <div class="col-md-1">
                              {{Insurance.Price}}
                            </div>
                            <div class="col-md-2">
                              {{Insurance.MonthsDuration}}
                            </div>
                            <div class="col-md-2">
                              {{RiskTypeEnum[Insurance.RiskType]}}
                            </div>
                          <div class="col-md-1">
                                <a href="/customerinsuranceedit/{{Insurance.CustomerInsuranceID}}" >Edit</a>
                            </div>
                            <div class="col-md-1">
                                <a href="/customerinsurancedelete/{{Insurance.CustomerInsuranceID}}" >Delete</a>
                            </div> 
                  </div>
            </div>

        </div>
  </div>
  
     

</div>
  

  